<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almanaque Marvel 2.0</title>
    <link rel="stylesheet" href="../static/pages/read.css">
    <link rel="stylesheet" href="../static/pages/create.css">
    <link rel="stylesheet" href="../static/pages/biografia.css">
    <link rel="stylesheet" href="../static/pages/criadoras.css">
</head>
<body>
    
    <header class="header">
        <div class="bloco">
            <a href="/" class="btnvoltar" >Voltar</a>
        </div>
    </header>

    <div class="box">
        <div class="box-esquerda">
                <div class="titulo">
                    <h2>Luana Melissa</h2>
                </div>
                <div class="capa_perfil">
                    <img src="../static/pages/imagemluana.jpg" alt="Imagem">
                </div>
            <br>
                <div class="box-imagem">
                    <div class="redes_sociais">
                        <a href="https://github.com/Lua-programmer"> <img src="../static/pages/icons8-github-100.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/luana-melissa-%F0%9F%9A%80-473208207/"> <img src="../static/pages/icons8-linkedin-100.png" alt=""></a>
                        <a href="https://www.instagram.com/luana.melissa/"> <img src="../static/pages/icons8-instagram-100 (1).png" alt=""></a>
                    </div>
                </div>
        </div>

        <div class="box-direita">
            <div class="titulo">
                <h2>Priscila Roza</h2>
            </div>
            <div class="capa_perfil">
                <img src="../static/pages/imagempri.jpeg" alt="Imagem">
            </div>
        <br>

        <div class="box-imagem">
            <div class="redes_sociais">
                <a href="https://github.com/PriscilaRoza"> <img src="../static/pages/icons8-github-100.png" alt=""></a>
                <a href="https://www.linkedin.com/in/priscilaroza/"> <img src="../static/pages/icons8-linkedin-100.png" alt=""></a>
                <a href="https://www.instagram.com/rozzapri/"> <img src="../static/pages/icons8-instagram-100 (1).png" alt=""></a>
            </div>
        </div>
    </div>


</body>
</html>