<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almanaque Marvel</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Menu.svg/1024px-VisualEditor_-_Icon_-_Menu.svg.png" alt="">
    </label>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/read">VISUALIZAR ALMANAQUE</a></li>
            <li><a href="/create">ADICIONAR PERSONAGEM AO ALMANAQUE</a></li>
            <li><a href="/sobre">CRIADORAS DO PROJETO</a></li>
        </ul>
    </nav>

</body>
</html>