<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almanaque Marvel</title>
    <link rel="stylesheet" href="../static/pages/read.css">
    <link rel="stylesheet" href="../static/pages/create.css">
    <link rel="stylesheet" href="../static/pages/update.css">
</head>
<body>
    
    <header class="header">
        <div class="bloco">
            <a href="/read/{{personagem.id}}" class="btnvoltar">Voltar</a>
        </div>
    </header>

    {% if sucesso %}

    <div class="bloco">
        <div class="update_sucesso">
            <p>Registro editado com sucesso</p>
        </div>
    </div>

    {% endif %}

    <div class="titulo">
        <h2>Editar registro</h2>
    </div>

    <div class="bloco">
    
        <div class="boxform">
            <form class="form" method="POST" >

                <div class="form_input">
                    <label for="nome_">Nome: </label>
                    <input type="text" id="nome" name="nome_" value="{{personagem.nome_}}" required>
                </div>

                <div class="form_input">
                    <label for="imagem_url_">URL da Imagem: </label>
                    <input type="text" id="imagem_url" name="imagem_url_" value="{{personagem.imagem_url_}}" required>
                </div>

                <div class="form_input">
                    <h4 for="biografia_">Biografia: </h4>
                    <textarea type="text" id="biografia" name="biografia_"  required>{{personagem.biografia_}}</textarea>
                </div>
                
                <div class="container">
                    <div class="bloco">
                        <input type="submit" class="btnvoltar" value="Enviar">
                    </div>
                </div>
               
            </form> 
        </div>
    </div>


</body>
</html>